[Unit]
Description=Mount unit for whatsapp-for-linux, revision 58
After=snapd.mounts-pre.target
Before=snapd.mounts.target
Before=local-fs.target

[Mount]
What=/var/lib/snapd/snaps/whatsapp-for-linux_58.snap
Where=/snap/whatsapp-for-linux/58
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
